// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 30% auto auto auto;
  grid-template-rows: 20% 1fr 1fr;
  grid-template-areas: "picture content . ." ". . . ." ". . . .";
}

.picture {
  grid-area: picture;
  align-content: center;
}

.content {
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title title" "posted_by posted_by";
}

.title {
  grid-area: title;
}

.posted_by {
  grid-area: posted_by;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
  .clearfix {
    overflow: auto;
  }
  img{
    border:1;
  }
}

.destroy_post{
  color: #ff0000;
}

a:link {

  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    .destroy_post{
      color: #ff0000;
    }
    text-decoration: underline;

  }
}
