// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* variable*/
$light-gray: #777;
$light-sea-green: #20b2aa;
$white: #fff;
$milk-white: #FEFCFF;
$red: #C70039;
$dark-green: #20B100;
$light-green: #B8FFA8;
$bootstrap-blue: #428bca;
$visited: #ff66cc;

/* universal */

header{
  background-color: $bootstrap-blue;
}
.active{
  /*background-color: $light-gray;
  text-emphasis-color: $bootstrap-blue;*/

}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

section {
  overflow: auto
}

textarea {
  resize: vertical
}

.center {
  text-align: center
}

.center h1 {
  margin-bottom: 10px
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 0.5;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family:verdana;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

h3{
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  position: relative;
  text-align: left;
  margin-right: 1px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}
.navbar-nav > li > a {
    color: $white;
    font-size: 1.3em;
    padding: 5px;
}
.navbar-nav > li > a:hover{
  color: $bootstrap-blue;
  font-weight: bold;

}

.navbar-nav > li > input{

    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;

}

.entry-header{
  text-align: left;
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  font-weight: bold;
}

/* footer */

footer {
  //margin-top: 30px;
  text-align:center;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $white;
  text-align: right;
  padding-right: 20px;
  background-color: $light-gray

}

a:link {

  color: $bootstrap-blue;

  &:visited {
    color: $visited;
  }

  &:hover {
    text-decoration: underline;

  }
}

/* forms */
