// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* variable*/
$light-gray: #777;
$light-sea-green: #20b2aa;
$white: #fff;
$red: #C70039;
$dark-green: #20B100;
$light-green: #B8FFA8;
$bootstrap-blue: #428bca;
$visited: #ff66cc;

/* universal */

header{
  background-color: $red
}

body {
  padding-top: 60px
}

section {
  overflow: auto
}

textarea {
  resize: vertical
}

.center {
  text-align: center
}

.center h1 {
  margin-bottom: 10px
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 0.5;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family:verdana;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

h3{
  color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: bold; line-height: 48px; margin: 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}
.navbar-nav > li > a {
    color: $white;
    font-size: 1.3em;

}
.navbar-nav > li > a:hover{
    color: $red;
    font-weight: bold;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  text-align: right;
  padding-right: 20px;

}

a:link {

  color: $bootstrap-blue;

  &:visited {
    color: $visited;
  }

  &:hover {
    text-decoration: underline;

  }
}

/* forms */
